In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import warnings
from shapely.geometry import Polygon

In [2]:
cities = ['Dhaka Metropolitan','Ghent','Philadelphia','Tel Aviv','Washington DC']
thresholds = [300, 600, 1000]

In [163]:
warnings.filterwarnings('ignore')
cities_scores = list()
for i in cities:
    city_score = gpd.read_file(r'D:\Dumps\Scores output WP2-OSM\100m grids\Grid_geoms\gridscore_grav3_'+i+'.gpkg')
    scores_df = city_score.iloc[range(0,len(city_score),3)]['geometry'].reset_index(drop = True)
    for j in thresholds:
        ls = list()
        score = city_score['tr_'+str(j)].dropna().reset_index(drop =True)
        perc_25 = round(np.percentile(score,25))
        med = round(np.percentile(score,50))
        perc_75 = round(np.percentile(score,75))
        upper = round(max(score))
        for k in score:
            if k <= perc_25:
                ls.append('4 1stQ 0'+' - '+str(perc_25))
            elif k <= med:
                ls.append('3 2ndQ '+str(perc_25)+' - '+str(med))
            elif k <= perc_75:
                ls.append('2 3rdQ '+str(med)+' - '+str(perc_75))
            else:
                ls.append('1 4thQ '+str(perc_75)+' - '+str(upper))
        print(i, j)
        print('1stQ','0','-',str(perc_25))
        print('2ndQ',str(perc_25),'-',str(med))
        print('3rdQ',str(med),'-',str(perc_75))
        print('4thQ',str(perc_75),'-',str(upper))
        print(' ')
        scores_df = pd.concat([scores_df, 
                               pd.Series(round(score, 1), name = 'Grav-Sc '+str(j)), 
                               pd.Series(ls, name = 'GravQnt '+str(j))], 
                              axis = 1)
    cities_scores.append(scores_df)

Dhaka Metropolitan 300
1stQ 0 - 0
2ndQ 0 - 0
3rdQ 0 - 0
4thQ 0 - 635

Dhaka Metropolitan 600
1stQ 0 - 0
2ndQ 0 - 0
3rdQ 0 - 0
4thQ 0 - 1601

Dhaka Metropolitan 1000
1stQ 0 - 0
2ndQ 0 - 0
3rdQ 0 - 0
4thQ 0 - 3243

Ghent 300
1stQ 0 - 0
2ndQ 0 - 0
3rdQ 0 - 5
4thQ 5 - 8700

Ghent 600
1stQ 0 - 0
2ndQ 0 - 0
3rdQ 0 - 372
4thQ 372 - 17400

Ghent 1000
1stQ 0 - 0
2ndQ 0 - 179
3rdQ 179 - 1209
4thQ 1209 - 29000

Philadelphia 300
1stQ 0 - 0
2ndQ 0 - 0
3rdQ 0 - 114
4thQ 114 - 1379

Philadelphia 600
1stQ 0 - 0
2ndQ 0 - 208
3rdQ 208 - 479
4thQ 479 - 3325

Philadelphia 1000
1stQ 0 - 303
2ndQ 303 - 753
3rdQ 753 - 1167
4thQ 1167 - 6790

Tel Aviv 300
1stQ 0 - 75
2ndQ 75 - 260
3rdQ 260 - 549
4thQ 549 - 12600

Tel Aviv 600
1stQ 0 - 595
2ndQ 595 - 1180
3rdQ 1180 - 2022
4thQ 2022 - 25200

Tel Aviv 1000
1stQ 0 - 2204
2ndQ 2204 - 3641
3rdQ 3641 - 5470
4thQ 5470 - 42000

Washington DC 300
1stQ 0 - 0
2ndQ 0 - 67
3rdQ 67 - 217
4thQ 217 - 5700

Washington DC 600
1stQ 0 - 232
2ndQ 232 - 459
3rdQ 459 - 707
4thQ 707 - 11400

Washington DC 1000
1stQ 0 - 897
2ndQ 897 - 1332
3rdQ 1332 - 2000
4thQ 2000 - 19000

In [164]:
cities_scores[3]

,geometry,Grav-Sc 300,GravQnt 300,Grav-Sc 600,GravQnt 600,Grav-Sc 1000,GravQnt 1000
0,"POLYGON ((34.79125 32.14625, 34.79208 32.14625...",0.0,4 1stQ 0 - 75,0.0,4 1stQ 0 - 595,0.0,4 1stQ 0 - 2204
1,"POLYGON ((34.79208 32.14625, 34.79292 32.14625...",0.0,4 1stQ 0 - 75,0.0,4 1stQ 0 - 595,0.0,4 1stQ 0 - 2204
2,"POLYGON ((34.79292 32.14625, 34.79375 32.14625...",0.0,4 1stQ 0 - 75,0.0,4 1stQ 0 - 595,0.0,4 1stQ 0 - 2204
3,"POLYGON ((34.79375 32.14625, 34.79458 32.14625...",0.0,4 1stQ 0 - 75,0.0,4 1stQ 0 - 595,0.0,4 1stQ 0 - 2204
4,"POLYGON ((34.79458 32.14625, 34.79542 32.14625...",0.0,4 1stQ 0 - 75,0.0,4 1stQ 0 - 595,0.0,4 1stQ 0 - 2204
...,...,...,...,...,...,...,...
7360,"POLYGON ((34.80125 32.06458, 34.80208 32.06458...",373.2,2 3rdQ 260 - 549,1594.7,2 3rdQ 1180 - 2022,4353.0,2 3rdQ 3641 - 5470
7361,"POLYGON ((34.80208 32.06458, 34.80292 32.06458...",629.8,1 4thQ 549 - 12600,1832.2,2 3rdQ 1180 - 2022,5217.1,2 3rdQ 3641 - 5470
7362,"POLYGON ((34.80292 32.06458, 34.80375 32.06458...",904.6,1 4thQ 549 - 12600,2263.5,1 4thQ 2022 - 25200,5960.8,1 4thQ 5470 - 42000
7363,"POLYGON ((34.80375 32.06458, 34.80458 32.06458...",6900.0,1 4thQ 549 - 12600,13800.0,1 4thQ 2022 - 25200,23000.0,1 4thQ 5470 - 42000
7364,"POLYGON ((34.80458 32.06458, 34.80542 32.06458...",0.0,4 1stQ 0 - 75,0.0,4 1stQ 0 - 595,0.0,4 1stQ 0 - 2204

In [42]:
import os
files = [pd.read_csv('D:/Dumps/E2SFCA/Scores/'+i+'.csv') for i in cities]

In [134]:
E2SCFA_class = list()
for i in cities:
    city_score = pd.read_csv('D:/Dumps/E2SFCA/Scores/'+i+'.csv')
    score_df = city_score['population']
    for j in thresholds:
        ls = list()
        score = city_score['Sc-norm '+str(j)]
        for k in score:
            if k == 0:
                ls.append('6 no')
            elif k < 1:
                ls.append('5 very low')
            elif k < 9:
                ls.append('4 low')
            elif k < 30:
                ls.append('3 sufficient')
            elif k < 100:
                ls.append('2 good')
            else:
                ls.append('1 excellent')
        print(i, j)
        score_df = pd.concat([score_df, 
                              round(pd.Series(score, name = 'E2SCFA-Sc '+str(j)),2), 
                              pd.Series(ls, name = 'E2SCFA-class '+str(j))], 
                             axis = 1)
    E2SCFA_class.append(score_df)

Dhaka Metropolitan 300
Dhaka Metropolitan 600
Dhaka Metropolitan 1000
Ghent 300
Ghent 600
Ghent 1000
Philadelphia 300
Philadelphia 600
Philadelphia 1000
Tel Aviv 300
Tel Aviv 600
Tel Aviv 1000
Washington DC 300
Washington DC 600
Washington DC 1000

In [136]:
E2SCFA_class[0]

,population,E2SCFA-Sc 300,E2SCFA-class 300,E2SCFA-Sc 600,E2SCFA-class 600,E2SCFA-Sc 1000,E2SCFA-class 1000
0,39,0.0,6 no,0.00,6 no,0.00,6 no
1,37,0.0,6 no,0.00,6 no,0.00,6 no
2,33,0.0,6 no,0.00,6 no,0.00,6 no
3,41,0.0,6 no,0.00,6 no,0.00,6 no
4,41,0.0,6 no,0.00,6 no,0.00,6 no
...,...,...,...,...,...,...,...
31312,8,0.0,6 no,0.00,6 no,21.22,3 sufficient
31313,8,0.0,6 no,0.00,6 no,19.25,3 sufficient
31314,6,0.0,6 no,0.00,6 no,28.34,3 sufficient
31315,6,0.0,6 no,0.00,6 no,22.15,3 sufficient
31316,6,0.0,6 no,60.94,2 good,37.75,2 good

In [187]:
scores = list()
for i in enumerate(cities):
    score = pd.concat([E2SCFA_class[i[0]], cities_scores[i[0]]], axis = 1)
    
    score = score[['geometry','population',
                   'E2SCFA-class 300','E2SCFA-class 600','E2SCFA-class 1000',
                   'GravQnt 300','GravQnt 600','GravQnt 1000',
                   'E2SCFA-Sc 300','E2SCFA-Sc 600','E2SCFA-Sc 1000',
                   'Grav-Sc 300','Grav-Sc 600','Grav-Sc 1000']]
    
    a = np.where([any(score['GravQnt '+str(t)].dropna().str.contains('3rdQ')) for t in thresholds],None,'2 3rdQ 0 - 0')
    b = np.where([any(score['GravQnt '+str(t)].dropna().str.contains('2ndQ')) for t in thresholds],None,'3 2ndQ 0 - 0')
    
    ls2 = pd.DataFrame(list([
                [Polygon(),'1 excellent','1 excellent','1 excellent',a[0],a[1],a[2]],
                [Polygon(),'2 good','2 good','2 good',b[0],b[1],b[2]],
                [Polygon(),'3 sufficient','3 sufficient','3 sufficient',None,None,None],
                [Polygon(),'4 low','4 low','4 low',None,None,None],
                [Polygon(),'5 very low','5 very low','5 very low',None,None,None],
                [Polygon(),'6 no','6 no','6 no',None,None,None]]))
    
    ls2.columns = ['geometry',
                   'E2SCFA-class 300','E2SCFA-class 600','E2SCFA-class 1000',
                   'GravQnt 300','GravQnt 600','GravQnt 1000']
    
    score = pd.concat([score, pd.DataFrame(ls2)])
    
    score = gpd.GeoDataFrame(score, geometry = 'geometry', crs = 4326)
    score.to_file('D:/Dumps/Scores output WP2-OSM/100m grids/'+i[1]+'.gpkg')
    scores.append(score)

In [185]:
np.where([any(score['GravQnt '+str(t)].dropna().str.contains('3rdQ')) for t in thresholds],None,'2 3rdQ 0 - 0')
np.where([any(score['GravQnt '+str(t)].dropna().str.contains('2ndQ')) for t in thresholds],None,'3 2ndQ 0 - 0')

array(['3 2ndQ 0 - 0', '3 2ndQ 0 - 0', '3 2ndQ 0 - 0'], dtype=object)

In [189]:
scores[0]['GravQnt 300'].unique()

array(['4 1stQ 0 - 0', '1 4thQ 0 - 635', '2 3rdQ 0 - 0', '3 2ndQ 0 - 0',
       None], dtype=object)