In [33]:
import geopandas as gpd
import pandas as pd
import numpy as np
import os
import leafmap as leaf

In [34]:
cities = gpd.read_file('D:/Dumps/GEE-WP Scores/cities.gpkg')

In [35]:
classes = pd.read_csv("D:/Dumps/GEE-WP Scores/Cities_75.csv")

In [36]:
classes.columns

Index(['ID_HDC_G0', 'Desired', 'UC_NM_MN', 'CTR_MN_ISO', 'GRGN_L2', 'AREA',
       'Built-up 2015', 'Population 2015', 'Built-up density 2015', 'GDP 2015',
       'GDP 2015 (millions)', 'UN Income class', 'Avg. greenness 2014',
       'Share of high green area'],
      dtype='object')

In [48]:
merged = pd.merge(cities, classes[['Desired','Built-up 2015','Population 2015','Built-up density 2015','GDP 2015 (millions)'\
                          ,'UN Income class','Avg. greenness 2014','Share of high green area']],
         left_on = 'index', right_on = 'Desired', how = 'outer')

In [49]:
merged

,index,geometry,Desired,Built-up 2015,Population 2015,Built-up density 2015,GDP 2015 (millions),UN Income class,Avg. greenness 2014,Share of high green area
0,Abidjan,POINT (-4.00962 5.34699),Abidjan,231,"4,551,850",51,"11,520",LMIC,0.272,0.022380
1,Addis Ababa,POINT (38.78696 8.98080),Addis Ababa,105,"3,830,788",28,"4,708",LIC,0.308,0.037816
2,Baghdad,POINT (44.37208 33.32650),Baghdad,434,"5,367,305",81,"53,352",UMIC,0.150,0.000605
3,Bangalore,POINT (77.59610 12.95079),Bangalore,276,"10,631,615",26,"59,322",LMIC,0.316,0.040683
4,Belgrade,POINT (20.42554 44.80930),Belgrade,120,"1,106,870",108,"11,594",UMIC,0.455,0.335830
...,...,...,...,...,...,...,...,...,...,...
70,Utsunomiya,POINT (139.88657 36.59688),Utsunomiya,80,"312,681",254,"7,433",HIC,0.330,0.108071
71,Washington DC,POINT (-77.01637 38.90483),Washington DC,933,"3,368,613",277,"149,136",HIC,0.533,0.661224
72,Yaounde,POINT (11.50038 3.85368),Yaounde,151,"3,465,247",43,"8,041",LMIC,0.405,0.223431
73,Yerevan,POINT (44.50722 40.16141),Yerevan,92,"1,132,741",82,"5,617",LMIC,0.335,0.045664
74,Zibo,POINT (118.06205 36.80911),Zibo,268,"1,631,853",164,"18,925",UMIC,0.356,0.069622

In [50]:
merged.columns = ['City','geometry','City','area','population','density','GDP (mln.)','Income class (UN)','Avg. greenness','Share high green area']

In [51]:
merged = merged.iloc[:,1:]

data = pd.DataFrame({})

In [52]:
merged

,geometry,City,area,population,density,GDP (mln.),Income class (UN),Avg. greenness,Share high green area
0,POINT (-4.00962 5.34699),Abidjan,231,"4,551,850",51,"11,520",LMIC,0.272,0.022380
1,POINT (38.78696 8.98080),Addis Ababa,105,"3,830,788",28,"4,708",LIC,0.308,0.037816
2,POINT (44.37208 33.32650),Baghdad,434,"5,367,305",81,"53,352",UMIC,0.150,0.000605
3,POINT (77.59610 12.95079),Bangalore,276,"10,631,615",26,"59,322",LMIC,0.316,0.040683
4,POINT (20.42554 44.80930),Belgrade,120,"1,106,870",108,"11,594",UMIC,0.455,0.335830
...,...,...,...,...,...,...,...,...,...
70,POINT (139.88657 36.59688),Utsunomiya,80,"312,681",254,"7,433",HIC,0.330,0.108071
71,POINT (-77.01637 38.90483),Washington DC,933,"3,368,613",277,"149,136",HIC,0.533,0.661224
72,POINT (11.50038 3.85368),Yaounde,151,"3,465,247",43,"8,041",LMIC,0.405,0.223431
73,POINT (44.50722 40.16141),Yerevan,92,"1,132,741",82,"5,617",LMIC,0.335,0.045664
74,POINT (118.06205 36.80911),Zibo,268,"1,631,853",164,"18,925",UMIC,0.356,0.069622

In [53]:
m = leaf.Map(center=(20,20), zoom=2, height="450px", 
    draw_control=False,
    measure_control=True,
    fullscreen_control=True,
    attribution_control=True,)
m.add_tile_layer(
    url="https://a.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}@2x.png",
    name="OSM light",
    attribution="OSM",
)

m.add_gdf(gpd.GeoDataFrame(merged, crs = 4326), layer_name="cities UGSA", info_mode = 'on_click')
m

Map(center=[20, 20], controls=(AttributionControl(options=['position', 'prefix'], position='bottomright'), Zoo…